<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
</head>
<body>
    <a href="{{ url_for('home') }}">На главную</a>
    <h1>Профиль пользователя</h1>

    <div class="profile-container">
        <div class="avatar-container">
            {% if user.avatar %}
                <img src="{{ url_for('uploaded_file', filename=user.avatar) }}" class="profile-avatar-large">
            {% else %}
                <img src="{{ url_for('static', filename='img/default_avatar.png') }}" class="profile-avatar-large">
            {% endif %}
        </div>
        <div class="user-info">
            <p><strong>Имя:</strong> {{ user.name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Клуб:</strong> {{ user.club }}</p>
        </div>
    </div>
</body>
</html>